body {
	background: #212121;
	color: white;
	padding: 30px;
}

h1 {
	font-size: 40px;
	font-family: sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: #a2cf6e;
}

.logo {
	max-width: 100px;
}

.menu {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	max-width: 200px;
}
.menu-item {
	margin-left: 10px;
}

.container {
	display: flex;
}

.container2 {
	display: flex;
	flex-direction: row;
}

.left-sidebar {
	width: 25%;
	height: 200px;
	background-color: #009688;
}

.content {
	width: 50%;
	height: 200px;
	background-color: #ffc107;
}
.content2 {
	width: 50%;
	height: 200px;
	background-color: #fff;
}

.right-sidebar {
	width: 25%;
	height: 200px;
	background-color: #2196f3;
}

.footer {
	width: 50%;
	height: 120px;
	background-color: #ff00a6;
}

.footer2 {
	width: 50%;
	height: 120px;
	background-color: #996fe0;
}

.flex-parent {
	display: flex;
	justify-content: flex-start;
	border: 2px solid white;
}

@media screen and (max-width: 768px) {
	.header,
	.menu,
	.container {
		flex-direction: column;
		align-items: center;
	}

	.left-sidebar,
	.content,
	.right-sidebar {
		width: 100%;
	}
}
