body {
	background: #212121;
	color: white;
	padding: 30px;
}

h1 {
	font-size: 40px;
	font-family: sans-serif;
}

.flex-parent {
	border: 2px solid white;
	height: 600px;
	width: 700px;
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  align-content:space-between;
}

.flex-item {
	width: 200px;
	height: 100px;
}

.flex-item--1 {
	background-color: #009688;
}
.flex-item--2 {
	background-color: #ffc107;
}
.flex-item--3 {
	background-color: #2196f3;
}
.flex-item--4 {
	background-color: #ff5722;
}
.flex-item--5 {
	background-color: #673ab7;
}
.flex-item--6 {
	background-color: #a2cf6e;
}

/* ******************************** */

colors {
	background-color: #009688;
	background-color: #ffc107;
	background-color: #2196f3;
	background-color: #ff5722;
	background-color: #673ab7;
	background-color: #a2cf6e;
}

img {
	padding: 0;
	max-width: 100%;
	margin-top: 50px;
}
